footer {
    display:flex;
    width :100%;
    background-color:blue ;
    padding: 10px;
    text-align: center;
    color: white;
    z-index: 3;
}
a{
    color:black;
}
form{
    background-color: grey;
}
#contactform{
    display:flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-content: center;
    height:80%;
    padding-top: 3%;
    width:100%;
}
#contactform * {
    align-self: center;
    text-align: center;
}
.inputcontact, #subb {
    max-width:430px;
    width:63%;
    height:6%;
    border-radius: 8px;
    font-size: 20px;
}
.inputcontact2, #subb{
    max-width:430px;
    width:63%;
    height:6%;
    border-radius:8px;
    font-size:20px;
}/*a modifier pour montrer un plus grand cadre pour le message a envoyé*/