#containerInfo P{
    font-size: 26px;
}
#containerInfo{
    width:100%;
    height:40%;
}
#TopSubject{
    width:100%;
    height:40%;
}

#otherbox{
    /*position: relative;*/
    display:flex;
    height:90%;
    flex-direction: column;
    justify-content: space-between;
    /*margin-top: 3%;*/
    /*margin-bottom: 3%;*/
    width:25%;

}

#containerTopic {
    position: relative;
    justify-content: space-between;
    height:90%;
    width:70%;
    overflow-y: scroll;
}

.container {

    background-color: lightblue;

}

#mainIndex {
    height:100%;
    width:100%;
    display:flex;
    justify-content: space-around;
    order: 3;
    align-items: center;
}

@media only screen and (max-width: 1100px) {
    #containerInfo P{
        font-size: 26px;
    }
    #containerTopic {
        height:40%;
        overflow-y: scroll;
    }

    .container {
        border-radius: 14px;
        position: relative;
        background-color: lightblue;
        height:25%;
        /*min-height:600px;*/
        width:100%;
    }
    #mainIndex {
        height:100%;
        margin-left: 10%;
        margin-right: 10%;
        flex-direction: column;
        display:flex;
        align-items: center;
        justify-content: space-around;
    }
} /*Fin query*/

