html {
    height: 100%;
}

* {
    margin:0;
    padding:0;
    user-select: none;
    text-decoration: none;
}

input{
    user-select: text;
}

button {
    background-color: #d3d3d3;
    border-color: #ffcb60;
    border-radius: 4%;
    border-width: 0;
    padding-right: 2.5%;
    padding-left: 2.5%;
}
body {
    background-color: whitesmoke;
    position: relative;
    height:100%;
    width:100%;
    color: dimgrey;
}
header{
    width:100%;
    position:relative;
    height:10%;
    display:flex;
    justify-content: space-around;
    top:0;
    align-items: center;
    background-color: #4c96af;
    z-index:3;
}

#midpage{
    position:relative;
    width:100%;
    min-height: 90%;
}

#formRegister{
    min-height:400px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header img{
    height:70%;
    flex-direction: row;

}
#userMenuOff {
    top:10%;
    transition-duration: 0.3s;
}

.userMenu {
    position: absolute;
    height:90%;
    width:100%;
    bottom:0;
    z-index: 2;
    top:-90%;
    transition-duration: 0.3s;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#4c96af,whitesmoke);
    border-width: 4px;
    border-color: blue;
    font-size: 30px;
}

.userMenu button{
    font-size: 18px;
}



footer{
    position: relative;
    bottom:0;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 4vh;
    background-color:#4c96af;
}

footer a {
    color:white;
}

#containerTopic {
    height:55%;
    overflow-y: auto;
}

#mainIndex{
    height:100%;
}

.topicRow{
    display:flex;
    align-items: center;
    height:20%;
}

.Statut, .NameTopic{
    display:flex;
    justify-content: center;
    width:50%;
    font-size: 4vh;
    text-align: center;
}

/*************************************/

#containerInfoTop {
    width:100%;
    height: 40%;
    /*background-color: violet;*/
}

/*************************************/

.Message{
    overflow-wrap:break-word;
}


#createTopic{
    display:flex;
    height:6%;
    justify-content: center;
}
#createTopic input{
    width:45%;
    font-size: 1.8vh;
}

#containerInfo p {
    font-size: 20px;
}

#containerInfo,#containerTop{
    display:flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
}

#containerInfo{
    overflow-y:auto;
    height:60%;
}
#containerTop{
    height:40%;
}

#mainInfo{
    display:flex;
    flex-direction: column;
    margin-top:10%;
    margin-bottom:10%;
    width:70%;
    justify-content: space-around;
    margin-left:15%;
    margin-right:15%;
    align-items: center;
    border: 4px ridge ;
    border-radius: 12px;
    overflow-y:auto;

    /*background: linear-gradient(SandyBrown, LightSalmon);*/
    /*background: linear-gradient(#ffa483, #ffb347);*/
    background: linear-gradient(#4c96af,whitesmoke);

    /*#ffb347);*/
    font-style: normal ;
    font-family: "Sitka Text";
    color: dimgrey;
}
#mainInfo *{
    font-size: 20px;

    margin: 4%;
    display:flex;
    flex-direction: column;
    width:100%;
    text-align: center;
    align-items: center;
}

#mainInfo div form button{
    width:30%;
}

#mainInfo div input,#mainInfo div form{
    width:90%;
}


/*===========================================================*/

#mainDiscussion{
}
#ContentTopic {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
}

.Message{
    margin: 40px;
}

#allMessages{
    height: 600px;
    overflow-y: auto;
    width:100%;
    text-align: center;
}

#MenuUserDiscussion{
    margin-top: 2%;
    margin-bottom: 2%;
    width:100%;
    display:flex;
    justify-content: center;
}

#MenuUserDiscussion input{
    width:50%;
    min-height: 40px;
}

#ContentTopic form{
    width:80%;
    display: flex;
    justify-content: center;
}
#ContentTopic form input{
    width:60%;
    font-size: 24px;
    height:40px;
}
#ContentTopic form button{
    width:20%;
}
#ContentTopic form label{
    display: flex;
    align-items: center;
    margin-right: 1.4%;
}

#MenuAdminDiscussion{
    width:100%;
    display:flex;
    align-items: center;
    flex-direction: column;
}

#MenuAdminDiscussion input{
    width:50%;
    /*display: flex;*/
    /*aligt*/
}

.container{
    margin-top:2%;
}

#ForgetPassword{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100%;
    min-height: 300px;
}

#ForgetPassword * {
    font-size: 24px;
    margin-top:0.8%;
    margin-bottom: 0.8%;
    text-align: center;
}

#divisionButton{
    display:flex;
    justify-content: space-around;
    width:80%;
}

#divisionButton * {
    width:40%;
}

#allMessages * {
    display:flex;
    flex-direction: row;
    width:100%;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

#pasdemsg{
    margin-top:5%;
    font-size: 26px;
}

h2{
  font-size: 30px;
}
h3{
    font-size: 24px;
}

@media only screen and (min-width: 1100px) {
    #midpage {
        overflow-y: auto;
        height: 91.5%;
    }

    #mainIndex {
        justify-content: space-around;
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    header {
        height: 8.5%;
        /*background-color: blue;*/
        justify-content: space-between;
        /*padding-right: 3%;*/
    }

    #logoFreenote {
        padding-left: 2%;
    }

    #logoUser {
        /*padding-right: 2%;*/
    }

    .userMenu {
        position: absolute;
        height: 26%;
        width: 20%;
        /*background-color: yellow;*/
        right: 0;
        /*top:8.5%;*/
        top: -27%;
        border-radius: 2%;
        border: 2px inset  #4c96af;
    }

    #userMenuOff {
        top: 8.5%;
    }

    footer {
        flex-direction: row;
        width: 100%;
        justify-content: center;
        position: absolute;
        bottom: 0;
    }

    footer a {
        font-size: 14px;
        line-height: 1;
        padding: 1%;
    }

    #containerInfoTop {
        margin-top: 3%;
        width: 25%;
        height: 80%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
    }

    #containerTopic {
        margin-top: 3%;
        height: 80%;
        width: 65%;
        border-left: solid;
        border-left-width: 3px;
        color: dimgrey;
    }

    .Statut, .NameTopic {
        font-size: 20px;
    }

    #containerInfo p {
        font-size: 1.8vh;
    }

    .userMenu button {
        height: inherit;
    }

    #signup {
        height: 16%;
    }

    .userMenu label {
        font-size: 18px;
    }

    #mainInfo * {
        margin: 1%;
        width: 60%;

    }

    #mainInfo {
        margin-top: 0;
        height: 85%;
        width: 55%;
        margin-left: 22.5%;
        margin-right: 22.5%;
        margin-bottom: 0;
    }

    #mainInfo h1 {
        font-size: 48px;
    }
    #MenuTopicIn{
        display:flex;
        flex-direction: row;
        align-items: center;
    }
}