footer {
    background-color:blue ;
    align-items: center;
    height: 4%;
    text-align: center;
    color: white;
    display:flex;
    justify-content: center;
}

footer a{
    color:white;
}
.bottom{
    margin-left: 1%;
    margin-right: 1%;
}
